#Assignment 4-March_ Plotly

In [1]:
# Q1. Load the "titanic" dataset using the load_dataset function of seaborn. Use Plotly express to plot a 
# scatter plot for age and fare columns in the titanic dataset.

In [4]:
import seaborn as sns
df = sns.load_dataset("titanic")
df.head(3)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True

In [ ]:
import plotly.graph_objects as go
fig = go.Figure()
fig.add_trace(go.Scatter(x=['age'], y= ['fare'], mode= 'markers'))
fig.show()

In [6]:
# Q2. Using the tips dataset in the Plotly library, plot a box plot using Plotly express.

In [8]:
import seaborn as sns
df = sns.load_dataset("tips")
df.head(2)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3

In [ ]:
import plotly.graph_objects as go
fig = go.Figure()
fig.add_trace(go.boxplot(tips))
fig.show()

In [ ]:
# Q3. Using the tips dataset in the Plotly library, Plot a histogram for x= "sex" and y="total_bill" column in 
# the tips dataset. Also, use the "smoker" column with the pattern_shape parameter and the "day" 
# column with the color parameter.

In [9]:
import seaborn as sns
df = sns.load_dataset("tips")
df.head(2)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3

In [ ]:
import plotly.graph_objects as go
fig = go.Figure(data = go.Histogram(x=['sex'], y= ['total_bill'], pattern_shape = 'smoker', colour = 'days'))
fig.show()

In [10]:
# Q4. Using the iris dataset in the Plotly library, Plot a scatter matrix plot, using the "species" column for 
# the color parameter.

In [11]:
import seaborn as sns
df = sns.load_dataset("iris")
df.head(2)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [ ]:
import plotly.graph_objects as go
fig = go.Figure()
fig.add_trace(go.Scatter( x=  "sepal_length", y= "sepal_width",color= 'species'))
fig.show()

In [12]:
# Q5. What is Distplot? Using Plotly express, plot a distplot.

In [ ]:
# Distplot -
# A Distplot or distribution plot, depicts the variation in the data distribution. Seaborn Distplot represents the 
# overall distribution of continuous data variables. The Seaborn module along with the Matplotlib module is 
# used to depict the distplot with different variations in it.

In [ ]:
# The plotly.express module (usually imported as px ) contains functions that can create entire figures at once,
# and is referred to as Plotly Express or PX.

In [ ]:
import plotly.express as px